.center_block_header2{
	/*display: inline-block;*/
	/*width: 20%;*/
	/*min-width:28%;*/
	/*max-width: 100%;*/ /*Tole spremeni za sirino*/
		
	margin: 0% 0% 0% 0%;
	padding: 2% 1% 2% 1%;
	background-color: #FFF;
	border-radius: 6px;
	text-align: left;
	/*overflow: hidden;*/
	font: 18px/18px BryantProBoldAlternateRegular;
	font-size:40px;
	text-align: center;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 15px;
		
	/*position: relative;*/
	/*width:auto;*/
}

.swimline{
	/*max-width:250%;*/
	width:200%;
	/*overflow:scroll;*/
		
}
				
.mainPanelBig{	
	float:left;
	width:182px;
	height:750px;
	margin-top: 0%;
	background-color:#FFFFFF  ;
	overflow:auto;
	border-top-color:green;

}
.mainPanelSmall{	
	float:left;
	width:50px;
	height:750px;
	margin: 0px;
	background-color:#FFFFFF;
}
		
	
.child_column_big{
	float:left;
	width:180px;
	height:600px;
	margin-top:3px;
	/*margin:  0 2px 0 2px ;*/
	background-color:#FFFFFF ;
}
.child_column_small{
	float:left;
	width:50px;
	height:600px;
	margin-top:3px;
	background-color:#FFFFFF ;
}
	
.hidden {
	display: none;
}
	
.vertical_text{
	margin:5px;
	width:1px;
	word-wrap: break-word;
	font-family: monospace; /* this is just for good looks */
	white-space: pre;/* this is for displaying whitespaces */
}
	
.outline {
	/* Obroba okoli div-a */
	border-style: solid;
	border-width: 1px;
	border-color:#888888;
}

.card_div{
	background:#FFFFFF;
	padding: 5px 0 5px 0;
	margin: 10px 3px 0px 3px;
	/*min-width:170px;*/
	/*max-width:175px;*/
	border-style:solid;
	border-width:4px;
	border-radius: 2px;
	
	/*float:none;*/
}

/* Begin: blinking boarder */
@keyframes blink { 
   50% { border-color: #ffffff; } 
}

.card_div_critical{
	background: #FFFFFF;
	padding: 5px 0 5px 0;
	margin: 10px 3px 0px 3px;
	border-style: dashed;
    	border-color: black;
    	border-width: 4px;
    	border-radius: 2px;
	animation: blink .9s step-end infinite alternate;
}
/* End: blinking boarder */

.fake_underline{
	width:100%;
	height:7px;
	background-color:black;
}
		
.fake_underline_thin{
	width:100%;
	height:2px;
	background-color:black;
}

.circle{
	width:5px;
	height:5px;
	border-radius:50px;
	/*font-size:20px;
	line-height:100px;
	text-align:center;*/
	background:black;
	color:black;
}