#form {
	 border-radius: 18px; 
	-moz-border-radius: 18px; 
	-webkit-border-radius: 18px; 
	border: 0px inset #1D805F;
	background-color: #fff;
	width: 300px;
	max-width: 350px;
	height: 400px;
	max-height: 500px;
	margin: 5px;
}

#field {
	 border-radius: 18px; 
	-moz-border-radius: 18px; 
	-webkit-border-radius: 18px; 
	border: 0px inset #1D805F;
	background-color: #fff;
	padding: 5px;
	margin: 5px;
}

#field_50 {
	 border-radius: 18px; 
	-moz-border-radius: 18px; 
	-webkit-border-radius: 18px; 
	border: 0px inset #1D805F;
	background-color: #fff;
	padding: 5px;
	margin: 5px;
	width:50%;
	max-width: 50%;
}

#toCenter {
	text-align: center;
	margin-left:33%;
	margin-right:auto;
}

label {
	font-weight: bold;
	padding: 1px;
	font-size: 16px;
}